<div id="page-type"></div>

<div id="page-info"></div>

<div id="response-time-container">
  <h2 class="graphType">Response Time</h2>
  <div id="responsetime" style="width:1000px;height:500px;"></div>
</div>

<div id="requests-per-second-container">
  <h2 class="graphType">Requests Per Second</h2>
  <div id="rps" style="width:1000px;height:500px;"></div>
</div>


