<div id="page-type"></div>
<h3>Test Info</h3>
<div id="page-info"></div>

<div id="response-time-container">
  <h2 class="graphType">Average Response Time</h2>
  <p>This graph shows the average response times from the server. The bottom is the timeline for the full test run in milliseconds. The numbers on the left are the average response time in milliseconds. Hover over the points to see more detailed info.</p>
  <p>Not all lines will stretch the entire graph because averages are only computer once all the clients are ramped up which can take some time.</p>
  <div id="responsetime" style="width:1000px;height:500px;"></div>
</div>

<div id="requests-per-second-container">
  <h2 class="graphType">Requests Per Second</h2>
  <p>This graph shows the request per second for each client pool. The bottom is the timeline for the full test run in milliseconds. The numbers on the left are the number of requests per second. Hover over the points to see more detailed info.</p>
  <p>This graph does not remove points where the clients are not all ramped up so make sure to mouse over the point to see the number of active clients.</p>
  <div id="rps" style="width:1000px;height:500px;"></div>
</div>

<h2>Info</h2>
<div id="dbinfo" /> 
<h3>Configuration</h3>
<div id="dbconfig" />  
